h1 {
    font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #6a4a31;
}

.order-time {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  opacity: 0.7;
}

.order-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.order-time {
  font-weight: 300; /* thin */
  margin-left: 10px;
}

.item-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.item-count {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 5px;
}
